/*box sizing*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    width: 1100px;
   
}

/*header*/

#banner{
    background-image: url(../img/pattern.png ) ;
    background-size: 400px;
    background-color: deepskyblue;
    height: 100px;
 }
 
 #logo{
  margin-top: 50px;  
  height: 50px;
 }
 
 #titolo1{
     font-size: 50px;
 }
 
 #intestazione-grey{
    color: grey;
 }
 
 #autore-azzurro{
    color: rgb(0, 162, 255);
 }
 
 #data{
    font-size: 15px ;
 }
 
 /*main*/
 
 #foto{
    margin-top: 20px;
    font-size: 10px;
 }
 
 .testo-evidenziato{ 
    background-color: yellow;
 }
 
 ul{
     margin-top: 30px;
     margin-left: 15px;
     margin-bottom: 30px;
 }
 
 table { 
     border-spacing: 0;
     border-collapse: collapse;
     margin-bottom: 30px;
 }
 
 thead{
     background-color: deepskyblue;
     color: white;
 }
 
 td{
     width: 250px;
 }
 
 #td3{
     width: 500px;
 }
 
 .tr2{
   background-color:lightblue;
 }
 
 /*footer*/
 #titolo-footer{
     color: gray;
 }
 
 #imgfoot1{
     background-image: url(../img/monitor.jpg);
     height: 200px;
     width: 250px;
     margin-top: 15px;
     color: white;
    
 }
 
 #imgfoot2{
     background-image: url(../img/graph.jpg);
     height: 200px;
     width: 250px;
     margin-top: 15px;
     color: white;
    
 }
 