
#banner{
    background-image: url(../img/pattern.png ) ;
    background-size: 400px;
    background-color: deepskyblue;
}

#logo{
    height: 100px;
}

#intestazione-grey{
    color: grey;
}

#autore-azzurro{
    color: rgb(0, 162, 255);
}

#data{
    font-size: 80% ;
}